@font-face {
    font-family: 'Italianno';
    src: url('../assets/font/italianno-regular-webfont.woff2') format('woff2'),
         url('../assets/font/italianno-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.logo-icone{
    height: 100px;
    width: 100px;
}

.image-hover-highlight {
}

.image-hover-highlight:hover {
    filter: brightness(150%);
    -webkit-filter: brightness(150%);
    -moz-filter: brightness(150%);
    -o-filter: brightness(150%);
    -ms-filter: brightness(150%);
    height: 150px;
    width: 150px;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #00000000;
    height: 9vh;
    color: rgba(0, 0, 0, 0);
    }
    
.nav-list{
    list-style: none;
    display: flex;
    font-size: 18px;
    }
    
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
    }

.a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.fundo{
    background-image: url(../assets/fundo-pizza.jpg);
    align-items: center;
    background-size: 130%;
    height: 100%;
}

.footer{
    background: #23232e;
    color: aliceblue;
    width: 100%;
    bottom: 0;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align:start;
    width: 1200px;
	margin: 0 auto;
	overflow: auto;
	padding: 5px 0;
    justify-content: space-around;
    }

.linha{
	width: 1200px;
	margin: 0 auto;
	overflow: auto;
	padding: 5px 0;
    display: flex;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.coluna{
	padding: 0 10px;
	float: left;
}
.col1{
	width: 80px;
}
.col2{
	width: 180px;
}
.col3{
	width: 280px;
}
.col4{
	width: 380px;
}
.col5{
	width: 480px;
}
.col6{
	width: 580px;
}
.col7{
	width: 680px;
}
.col8{
	width: 780px;
}
.col9{
	width: 880px;
}
.col10{
	width: 980px;
}
.col11{
	width: 1080px;
}
.col12{
	width: 1180px;
}

header{
	background: #23232e9f;
    width: 1200px;
	margin: 0 auto;
	overflow: auto;
	padding: 5px 0;
    align-items: center;
}

.height-inherit {
    height: inherit;
}

.glass{
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.div-receita {
    flex: 2;
    width: 1200px;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

.alinhatexto {
    text-align: start;
}

.div-foto {
    margin-left: 0px;
    height: 300px;
}

.div-mapa {
    margin-right: 0px;
    height: 300px;
}

.mapa {
    border: 1px solid rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    margin-top: 25px;
    margin-right: 65px;
    width: 250px;
    height: 250px;
}

.foto {
    border: 1px solid rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 65px;
    width: 250px;
    height: 250px;
}

.txt-titulo-receita{
    font-family: Italianno, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 50px;
    height: 10px;
    margin-top: 0px;
}

.div-ingredientes {
    flex: 2;
}

.div-preparo {
    flex: 2;
}

.div-preparo-ingredientes{
    display: flex;
    flex-direction: row;
}

.txt-alinha-centro {
    text-align: center;
}

.txt-justifica {
    text-align: justify;
}

.txt-negrito {
    font-weight: bold;
}

.div-desc-restaurante {
    flex: 1;
}

.margin-de-25 {
    margin-left: 25px;
    margin-right: 25px;
}

ul {
    list-style-type: none;
}

.align-ul {
    padding-left: inherit;
}

.accordion {
    background-color: rgba(68, 61, 77, 0.295);
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    height: 60px;
    border: none;
    outline: none;
    font-size: 20px;
    margin-top: 10px;
    transition: 0.4s;
    
  }
  
  .active, .accordion:hover {
    background-color: rgba(125, 127, 163, 0.37); 
    width: 100%;
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    transition: max-height 1s ease-out;
  }

  .display-block{
    display:block;
  }